<?php $view->extend('MiamBundle::layout') ?>
<?php $view->slots->set('active_menu', 'backlog') ?>

<div id="backlog" data-sort-url="{% route 'story_sort' %}">
    <h1>Backlog</h1>

		{% render 'MiamBundle:Story:backlog' with ['stories': stories] %}

</div>