.timeline li {
  font-family:Arial,sans-serif;
  list-style: none;
  display: block;
  padding: 1em 0;
  border-bottom: 1px solid #EAEAEA;
}

.timeline li:nth-child(even) {
    background-color: #FAFAFA;
}

.timeline li:last-child {
  border-bottom: none;
}

.timeline img.gravatar {
  float: left;
  margin: 0 0.6em;
}

.timeline .details {
  margin-top: 0.4em;
}

.timeline .details .story_name,
.timeline .story_points {
    float: left;
}
.timeline .story_points {
    margin-left: 5px;
}
