.hd_animal
{
  background: url(/images/components/templating/animal.png) no-repeat scroll center top;
}

.hd
{
  background-color: #b12822;
}

.hd .title_header
{
  border-left-color: #f7e552;
}

.intro h2, .box_content h3, .bd h1
{
  color: #b12822;
}

.hd .title_header div 
{
  color: #e2b2bb;
}

.important h3, a
{
  color: #ff850e;
}

#symfony-api #class-description, #symfony-api #method-details h3
{
  color: #33a8a7 !important;
}

.links_intro .learn_more
{
  background-color: #33a8a7;
}

.links_intro .install_now
{
  background-color: #ff850e;
}
