.hd
{
  padding: 0;
}
.hd .content
{
  padding-top: 5px;
  overflow: hidden;
  padding-bottom: 5px;
}
.hd h1.title_header
{
  border: none;
  border-right:4px solid #F7E552;
  color:#FFFFFF;
  float:left;
  font-family:Arial,sans-serif;
  font-size:2em;
  font-weight:bold;
  height: auto;
  line-height:0.9em;
  padding: 5px 20px 5px 0px;
  margin: 0 20px 0 0;
}

.menu
{
  padding-top: 10px;
  padding-bottom: 0;
}

#logo
{
  color: #ffffff;
  text-decoration: none;
}

.flash_info {
  border: 2px solid #444444;
  background: #EEE;
  padding: 10px;
}