ol.stories
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.story
{
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 0;
  font-size: 1.1em;
  height: 18px;
  list-style: none;
/*  cursor: pointer;*/
}

li.story span.drag {
    float: right;
    width: 16px;
    height: 16px;
    display: block;
    cursor: move;
    background: url(../images/drag.png) top left no-repeat;
}

li.story .editLink
{
  margin-left: 10px;
  font-size: 12px;
  display: none;
}

li.story:hover .editLink
{
  display: inline;
}

li.story .editLink a
{
  color: #B12822;
}

.story_id
{
  width: 50px;
  display: block;
  float: left;
  opacity: 0.5;
}

.story_points
{
  font-size:0.7em;
  background: #B12822;
  color: #fff;
  padding: 3px 5px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-left: 5px;
}

.story_project
{
  font-size:0.7em;
  color: #fff;
  padding: 3px 5px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-left: 5px;
}

.story_project a
{
  color: #fff;
  text-decoration: none;
}

.story_planCard
{
  border: 2px solid grey;
  padding: 10px;
  background: #EEE;
}

.col
{
  width: 47.5%;
}

.col_left
{
  float: left;
}

.col_right
{
  float: right;
}

#scheduling li.story
{
  font-size: 1em;
}

#sprintBacklog thead th
{
  width: 25%;
  color: #B12822;
  text-transform: uppercase;
  font-weight: bold;
}

#sprintBacklog 
{
  margin-top: 20px;
  border-right: 4px solid #B12822;
  font-size: 0.75em;
  width: 100%;
}

#sprintBacklog th
{
  text-align: center;
}

#sprintBacklog th, #sprintBacklog td
{
  border-left: 4px solid #B12822;
}

.titleWithActions
{
  overflow: hidden;
  margin-bottom: 15px;
}

.titleWithActions h1
{
  float: left;
  padding: 20px 0 10px;
}

.titleWithActions a
{
  float: left;
  padding: 0px 10px;
  margin: 15px 0 0px 30px;
  line-height: 37px;
  background: #C96964;
  color: #FFFFFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.story a
{
  text-decoration: none;
}