ol.stories
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.story span.drag {
    float: right;
    width: 16px;
    height: 16px;
    display: block;
    cursor: move;
    background: url(../images/drag.png) top left no-repeat;
}

li.story .editLink,
li.story .unscheduleLink,
li.story .deleteLink
{
  margin-left: 10px;
  font-size: 12px;
  display: none;
}

li.story:hover .editLink,
li.story:hover .unscheduleLink,
li.story:hover .deleteLink
{
  display: inline;
}

li.story .editLink a
{
  color: #B12822;
}

.story_id
{
  width: 50px;
  display: block;
  float: left;
  opacity: 0.5;
}

.story_points
{
  font-size:0.7em;
  background: #B12822;
  color: #fff;
  padding: 3px 5px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-left: 5px;
}

.story_project
{
  font-size:0.7em;
  color: #fff;
  padding: 3px 5px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-left: 5px;
}

.story_project a
{
  color: #fff;
  text-decoration: none;
}

#story_actions
{
  margin-top: 15px;
}

.stories .story {
    margin: 5px 0;
    width: 500px;
    padding-bottom: 5px;
}

.col
{
  width: 47.5%;
}

.col_left
{
  float: left;
}

.col_right
{
  float: right;
}

#scheduling {
    margin: 0 15px;
}

#scheduling li.story
{
  font-size: 1em;
}

.titleWithActions
{
  overflow: hidden;
  margin-bottom: 15px;
}

.story a
{
  text-decoration: none;
}

.story {
  padding: 3px 5px;
  border: 1px solid #E0E0E0;
  background: -moz-linear-gradient(center top , #FAFAFA, #E6E6E6) repeat scroll 0 0 #EFEFEF;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#E6E6E6));
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #333;
}
.story:hover {
  background: -moz-linear-gradient(center top , #FAFAFA, #F0CDCA) repeat scroll 0 0 #EFEFEF;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#F0CDCA));
}
.story.ui-draggable,
.ui-sortable .story{
    cursor: move;
}

.story_points {
  float: right;
  font-size: 0.9em;
  overflow: auto;
  width: 14px;
  float: right;
  text-align: center;
  cursor: pointer;
  padding: 2px 3px;
  font-weight: bold;
  opacity: 0.6;
}

