.bd .content .timeline li {
  font-family:Arial,sans-serif;
  font-size: 1.1em;
  list-style: none;
  display: block;
  padding: 1em 0;
  border-bottom: 1px solid #EAEAEA;
}

.timeline img.gravatar {
  float: left;
  margin-right: 1em;
}

.timeline .details {
  margin-top: 0.4em;
}

.timeline .points {
  padding: 2px 5px;
  background: #BBB;
  color: #fff;
  font-weight: bold;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
